/**
 * @file
 * CSS declarations for HFC Global module.
 */

/**
 * Tweaks to the node edit form.
 */

.node-form fieldset .fieldset-legend {
  position: inherit;
  font-size: 1em;
}

.node-form .form-item div.description,
.node-form .text-format-wrapper div.description {
  margin: 5px 0 10px;
  padding: 5px 10px 10px;
  color: #000;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: #e3eeff;
  font-size: 0.95em;
}

.node-form .form-item label {
  padding: 0 0 0.625em;
  color: #0054a6;
  font-size: 1.2em;
}

.node-form .form-item label.option {
  color: #222;
}

.node-form .form-item th.field-label > label {
  padding: 0 0.5em;
}

.node-form .field-type-datestamp .fieldset-legend {
  text-transform: none;
  color: #0054a6;
  font-size: 1.2em;
}

.node-form .field-type-datestamp .form-item label {
  font-size: 1em;
}

/**
 * This goes with the collapsible text formatting tips
 * to keep the label from getting squished.
 */

.text-format-wrapper > fieldset > legend {
  height: 1.25em;
}

/**
 * Drupal core sets width: 100%; here to fix a resizing bug.
 * It would be better to use the natural width most times
 * and limit the maximum width to resolve the bug instead.
 */

.vertical-tabs .form-type-textfield input {
  width: auto;
  max-width: 100%;
}

/* Mask the logout button for sites behind Access Manager */

#toolbar-user .logout {
  display: none;
}
